nav h1,
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
.batman {
  background-color: #e6e6e6;
  padding: 21px;
}
.titulo {
  background-color: #c4c4c4;
  color: #005677;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-left: 10px;
}
.footer {
  background-color: #005677;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  height: 36px;
}
.footer p {
  color: white;
}
.centrar {
  text-align: center;
  padding: 0;
}
.principal {
  font-size: 35px;
}
.espaciado {
  margin: 120px 0 0;
}
.listas {
  padding-left: 19px;
}
dd {
  margin-bottom: 15px;
  margin-left: 78px;
}
